html {
  font-family: 'Larsseit', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #e1eff3;
  color:#2c405d;
  font-size: 18px;
}

h1 {
  font-size: 64px;
  font-weight: 300;
}

p {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}

#wrapper {
  margin:auto;
  xmax-width: 2024px;
  display: flex;
  flex-flow: column;

}

#header {
  flex: 0 1 auto;
}

#content {
  display: flex;
  flex-flow: column;
  align-self: stretch;
  padding: 15%;
  height: 100%;
  flex: 1 1 auto;
}

#footer {
  display: flex;
  flex-flow: row;
  background-color:#2C405D;
  color: #D2D7DD;
  padding: 40px;
  flex: 0 1 auto;
  align-items: center;
}

.pure-menu-list {
  float: right;
  font-size: larger;
  padding: 40px;
}

.pure-menu-heading {
  padding: 40px;
}

.pure-menu-link {
  color: #2c405d;
}

.pure-menu-link:focus {
  background-color: transparent;
  text-decoration: underline;
}

.pure-button {
  background-color: #469FB6;
  color: white;
  padding: 20px 40px;
}

.pure-button:hover {
  background-color: #3F90A5;
}

.pure-button:active {
  background-color: #3A8598;
}

.col1 {
  flex: 0 1 auto;
}

.col2 {
  flex: 0 1 auto;
  margin-left: auto;
}

.col2 a {
  padding: 0 10px;
}